alias k=kubectl
alias ktx=kubectx
alias kns=kubens
alias y='yarn'
alias p='pnpm'
alias yi='yarn install'
alias yd='yarn dev'
alias t='tmux'
alias o='ollama'

alias gf='git f'
alias gl='git l'
alias gpl='git pull'
alias gsd='git -c delta.side-by-side=true diff'
alias gsds='git -c delta.side-by-side=true diff --staged'

alias mypr="gh pr checkout $(gh pr list --author=yoonho-alan --limit 1 --json number | jq '.[0].number')"
alias makepr="gh pr create -w"
